@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@1,700&display=swap');

:root {
    /* change the values below to your colors from your palette */
    --primary-color: #EAE7ED;
    --secondary-color: #0C94AC;
    --accent1-color: #ffc045;
    --accent2-color: #0A060E;

    /* change the values below to your chosen font(s) */
    --heading-font: 'Noto Serif', Times New Roman, cursive;
    --paragraph-font: 'Libre Baskerville',
        Helvetica,
        sans-serif;

    /* these colors below should be chosen from among your palette colors above */
    --headline-color-on-white: #0C94AC;
    /* headlines on a white background */
    --headline-color-on-color: #0A060E;
    /* headlines on a colored background */
    --paragraph-color-on-white: #0A060E;
    /* paragraph text on a white background */
    --paragraph-color-on-color: #0A060E;
    /* paragraph text on a colored background */
    --paragraph-background-color: #EAE7ED;
    --nav-link-color: #0C94AC;
    --nav-background-color: #EAE7ED;
    --nav-hover-link-color: #ffc045;
    --nav-hover-background-color: #0A060E;
}


/*  Look around below...but DON'T CHANGE ANYTHING! */
html {
    background-color: var(--primary-color);
}

body {
    max-width: 940px;
    margin: 0 auto;
    background-color: white;
    padding: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
    color: var(--headline-color-on-white);
}

p {
    font-size: 16px;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 25px;
}

h3 {
    font-size: 20px;
}

header {
    padding: 1em;
    text-align: center;
    color: var(--paragraph-color-on-color);
    background-color: var(--paragraph-background-color);
}

header>h1,
header>h2 {
    color: var(--headline-color-on-color);
}

p,
ul li {
    font-family: var(--paragraph-font);
    color: var(--paragraph-color);
}

ul li {
    padding: 1em;
}

.colors {
    width: 100%;
    min-width: 350px;
    margin: auto;
    text-align: center;
}

.colors th {
    background-color: #999;
}

.colors td {
    width: 25%;
    height: 3em;
}

.primary {
    background-color: var(--primary-color);
}

.secondary {
    background-color: var(--secondary-color);
}

.accent1 {
    background-color: var(--accent1-color);
}

.accent2 {
    background-color: var(--accent2-color);
}

table,
td,
th {
    border: 1px solid black;
    padding: 5px;
}

header img {
    width: 100%;
    height: 100%;
}

header,
nav,
main,
footer {
    max-width: 767px;
    margin: 0 auto;
}

nav {
    background-color: #0c94ac;
    text-align: center;
    box-shadow: 0 2px 15px gray;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li a,
.primary-nav {
    display: block;
    color: #ffc045;
    text-align: center;
    padding: 0.1rem;
    text-decoration: none;
    font-size: 13px;
    background: linear-gradient(90deg, transparent, black, transparent) top / var(--d, 0) 10px no-repeat;
    transition: 0.5s;
    font-weight: bold;
}

.primary-nav {
    background-color: #0c94ac;

}

nav a:hover {
    /* 	background-color: #bbb;
	color: #36454f; */
    --d: 75%;
}

.active {
    color: black;
}

footer p {
    font-size: 12px;
}
footer {
    background-color: #fac344;

    text-align: center;
    padding: 5px;
}

.footer-nav {
    background-color: #fac344;
}

section {
    background-color: var(--primary-color);
    padding: 15px;
    margin: 10px;
    border: 3px solid var(--secondary-color);
}

nav ul.hide{
    display: none;
}

nav button {
    background-color: transparent;
    border:none;
    color: var(--accent1-color);
}

.active{
    text-decoration: underline;
    text-decoration-style: solid;
    opacity: 0.9;
}

#banner {
    background-color: var(--secondary-color);
    max-width: 770px;
    margin: 0 auto;
    padding: 1em;
}

#banner h3 {
    color: var(--accent-color1);
}

.weather_summary{
    display: grid;
    grid-template-columns: 110px 110px;
    grid-template-rows: 5;
    column-gap: 10px;
    font-size: 8px;
    background-color: var(--accent1-color);
    opacity: 0.8;
    box-shadow: 0 0 30 px #333;
}
p.left{
    grid-column: 1 / 2;
    text-align: right;
    font-size: 12px;
}

p.right {
    grid-column: 2/3;
    font-size: 12px;
}


.forecast_grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
}

.grid-col {
    background-color: yellow;
}

.footer-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    ;
}

.footer-grid map {
    grid-column: 1/2;
}

.contact information {
    grid-column: 2/3;
}

.article-image{
     margin: 10px;
     max-width: 300px;
        width: 100%;
        height: 100%;
}

.grid-col {
    border-bottom: 1px solid #333;
    border-left: 1px solid #333;
    text-align: center;
}

.data {
    display: block;
    padding: 0 5px 5px;
    font-size: 0.8rem;
    text-align: center;
}

.hero_image{
        width: 100%;
        height: 100%;
}




/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}