@media only screen and (min-width: 37.5em) {

    nav ul.hide {
        display: flex;

    }

    nav ul li {
        flex: 1 1 auto;
    }

    nav a {
        font-size: 1rem;
    }

    main {
        grid-template-columns: 1fr 1fr;
    }

    article:nth-child(3) {
        grid-column: span 2;
    }

    nav button {
        display: none;
    }

    .hero_div {
        position: relative;
    }

    .weather_summary {
        position: absolute;
        top: 30px;
        left: 30px;
    }
    .article-image{
        float: right;
    }

    .gallery {
     grid-template-columns: auto auto;
        
    }
.grid-col {
    font-size: 100%;
    background-color: #ffc045;
}
}